@use '../../../shared/scss/var';

.the-main {
  display: flex;
  gap: 20px;
  .the-main > * {
    flex-shrink: 0;
  }
}

.the-main__element {
  background-color: var.$brown;
  outline: 5px solid var.$dark-brown;
  height: 600px;
}

.the-main__ui-left, .the-main__ui-right {
  width: 280px;
}

.the-main__canvas {
  width: 800px;
}

.the-main__ui-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
  margin: 0;
  padding: 16px;
}

.the-main__ui-list-button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
}