@use 'var';

body {
  margin: 0;
  background-color: var.$main-background-color;
  color: var.$main-font-color;
}

button {
  &:hover {
    cursor: pointer;
  }  
}

.website-wrapper {
  width: 1200px;
  margin: auto;
}
